@page "/"
@page "/login"

@layout LoginLayout


@using Blazored.LocalStorage
@using IntranetLoteriaNacional.Shared.ComponentModels
@using IntranetLoteriaNacional.Shared.Constants 
@using LoteriaNacionalDominio
@using System.Net
@using static LoteriaNacionalDominio.SeguridadDTO
@using System.Text.Json.Nodes
@using Microsoft.Extensions.Configuration;
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using static LoteriaNacionalDominio.StoreCheckDTO


@inject NavigationManager _navigation
@inject ILocalStorageService _session
@inject ProjectHttpClient _httpClient
@inject SweetAlertService Swal
@inject IJSRuntime JSRuntime
@inject IConfiguration Configuration

<style>
    #div__container {
        width: 100%;
        height: 100%;
        background-position: 0% 0% !important;
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
        /* background: url(./images/login-bg.png); */
    }

    #div__login-container {
        right: 64vh; 
        bottom: 20vh;
        width: 60vh;
        padding: 13vh;
        position: fixed;
        text-align: center;
        border-radius: 12px;
        background-color: white;
        /* box-shadow: 4px 7px 31px -9px black;  */
    }
</style>

<div id="div__container" style="text-align:center">
    <div id="div__login-container">
        <div style="padding: 20px; background-color: white;">
            <img style="width: 200px" src="./images/loterialogo.png" />
        </div>
        <span style="color: var(--ph-skyblue);font-size: 25px;">Iniciar sesión</span>
        <input type="text" @bind-value="@Username" @onkeyup="@Enter" class="mt-4 form-control mb-2" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1">
        <input type="password" @onkeyup="@Enter" class="form-control mb-4" @bind-value="@Password" placeholder="Contrasena" aria-label="Username" onke aria-describedby="basic-addon1">
        <button @onclick="TryLogin" style="background-color: var(--ph-skyblue)" class="btn btn-primary mb-1">Ingresar</button>
        <br />
        <a style="font-size: 10px !important;" href="#" class="link-secondary">Learn more</a>
    </div>
</div>

<Loading @ref="loader"></Loading>

@code {
    /*************** VARIABLES LOCALES *******************/
    Loading loader { get; set; } = new();
    /******************************************************/
    public string Username { get; set; } = null!;
    public string Password { get; set; } = null!;
    public string Message { get; set; } = null!;
    private bool _isInvalid;
    decimal latitud = 0;
    decimal longitud = 0;
    string direccion = string.Empty;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var user = await _session.GetItemAsync<string>("user");
            if (user != null && user != "")
            {
                _navigation.NavigateTo("~/Home/Home");
            }
            await loader.Close();
            var result = await JSRuntime.InvokeAsync<JsonArray>("getCoords");
            longitud = Convert.ToDecimal(result[0].ToString().Replace('.', ','));
            latitud = Convert.ToDecimal(result[1].ToString().Replace('.', ','));
            await EncontrarDireccionMaps(latitud.ToString(), longitud.ToString());

        }
    }

    private async Task TryLogin()
    {
        await loader.Show();
        string localIP = string.Empty;
        LoginDTO login = new LoginDTO();
        login.UserName = Username;
        login.Password = Password;
        try
        {
            if (Username == string.Empty || Username == null)
            {
                Message = "Debe ingresar el usuario";
                await loader.Close();
                _isInvalid = true;
                await Swal.FireAsync(new SweetAlertOptions
                    {
                        ConfirmButtonColor = "var(--ph-skyblue)",
                        Title = "Intranet Lotería Nacional",
                        Text = Message,
                        Icon = "info"
                    });
                return;
            }

            if (Password == string.Empty || Password == null)
            {
                Message = "Debe ingresar la clave";
                await loader.Close();
                _isInvalid = true;
                await Swal.FireAsync(new SweetAlertOptions
                    {
                        ConfirmButtonColor = "var(--ph-skyblue)",
                        Title = "Intranet Lotería Nacional",
                        Text = Message,
                        Icon = "info"
                    });
                return;
            }

            var existeUsuario = await _httpClient.PostAsJsonAsync<LoginRespuestaDTO>(EndPoints.validarUsuario,login);

            if(existeUsuario!=null)
            {
                string dominioUsuarioLogueado = existeUsuario[0].NombreUsuario;
                string nombreUsuario = dominioUsuarioLogueado.Substring(0, dominioUsuarioLogueado.LastIndexOf("-"));
                string nombreDominioUsuario = dominioUsuarioLogueado.Substring((dominioUsuarioLogueado.LastIndexOf("-") + 1), (dominioUsuarioLogueado.Length - (dominioUsuarioLogueado.LastIndexOf("-") + 1)));


                string PDSUsuario = string.Empty;
                MenuDTO[] respuestaRolUsuario = new MenuDTO[1];
                if (nombreDominioUsuario == "PDS")
                {
                    //Inventario de PDS Geolocalizacion
                    GeolocalizacionDTO geolocalizacionPDS = new GeolocalizacionDTO();
                    geolocalizacionPDS.secuencial = 0;
                    geolocalizacionPDS.latitudPDS = latitud;
                    geolocalizacionPDS.longitudPDS = longitud;
                    geolocalizacionPDS.direccionPDS = direccion;
                    geolocalizacionPDS.usuarioTransaccion = login.UserName;
                    geolocalizacionPDS.equipoTransaccion = "Sistemas";

                    LoginDTO login1 = new LoginDTO();
                    login1.UserName = "comisionista";
                    login.UserName = "lzambrano";
                    var respuestaPDSUsuario = await _httpClient.PostAsJsonAsync<RespuestaPDSDTO>(EndPoints.obtienePDSUsuario, login);
                    PDSUsuario = respuestaPDSUsuario[0].nombrePDS;
                    geolocalizacionPDS.codigoPDS = respuestaPDSUsuario[0].codigoPDS;

                    respuestaRolUsuario = await _httpClient.PostAsJsonAsync<MenuDTO>(EndPoints.obtieneRolUsuario, login1);
                    

                    var postRequest = new HttpRequestMessage(HttpMethod.Post, EndPoints.mantenimientoGrabarUbicacionPDS)
                        {
                            Content = JsonContent.Create(geolocalizacionPDS)
                        };

                    var postResponse = await _httpClient.SendAsync(postRequest);



                }
                else
                {
                    respuestaRolUsuario = await _httpClient.PostAsJsonAsync<MenuDTO>(EndPoints.obtieneRolUsuario, login);
                }

                string rolUsuario = respuestaRolUsuario[0].nombreRol;
                
                if(respuestaRolUsuario == null)
                {
                    Message = "Usuario no tiene rol de acceso en el sistema, por favor comuníquese con el administrador";
                    await loader.Close();
                    _isInvalid = true;
                    await Swal.FireAsync(new SweetAlertOptions
                        {
                            ConfirmButtonColor = "var(--ph-skyblue)",
                            Title = "Intranet Lotería Nacional",
                            Text = Message,
                            Icon = "error"
                        });
                        return;
                }

                  

                await _session.SetItemAsync("nombreUsuario", nombreUsuario);
                await _session.SetItemAsync("codigoUsuario", login.UserName);
                await _session.SetItemAsync("PDSUsuario", PDSUsuario);
                await _session.SetItemAsync("RolUsuario", rolUsuario);

                IPHostEntry host = Dns.GetHostEntry(Dns.GetHostName());// objeto para guardar la ip
                foreach (IPAddress ip in host.AddressList)
                {
                    if (ip.AddressFamily.ToString() == "InterNetwork")
                    {
                        localIP = ip.ToString();// esta es nuestra ip
                    }
                }
                await _session.SetItemAsync("equipoTransaccion", localIP);
                var menuUsuario = await _httpClient.PostAsJsonAsync<MenuDTO>(EndPoints.obtieneMenuUsuario, login);
                if (menuUsuario==null)
                {
                    Message = "Usuario no tiene permisos para acceder al sistema, por favor comuníquese con el administrador";
                    await loader.Close();
                    _isInvalid = true;
                    await Swal.FireAsync(new SweetAlertOptions
                    {
                        ConfirmButtonColor = "var(--ph-skyblue)",
                        Title = "Intranet Lotería Nacional",
                        Text = Message,
                        Icon = "error"
                    });          
                }
                else
                {
                    await _session.SetItemAsync<MenuDTO[]>("_userMenu", menuUsuario);
                    _navigation.NavigateTo("./Home/Home");
                    switch (rolUsuario)
                    {
                        case "Comisionista":
                            _navigation.NavigateTo("./StoreCheck/Promociones");
                            break;
                        case "Supervisor PDS":
                            _navigation.NavigateTo("./StoreCheck/Revision");
                            break;
                            case "Jefe Comercial":
                            _navigation.NavigateTo("./StoreCheck/JefaturaVentas");
                            break;
                        case "Gerencia":
                            _navigation.NavigateTo("./StoreCheck/RankingPDS");
                            break;
                        default:
                            _navigation.NavigateTo("./Home/Home");
                            break;
                    }
                }

            }
            else
            {
                Message = " Clave incorrecta o Usuario no existe en el sistema, por favor comuníquese con el administrador";
                await loader.Close();
                _isInvalid = true;
                await Swal.FireAsync(new SweetAlertOptions
                    {
                        ConfirmButtonColor = "var(--ph-skyblue)",
                        Title = "Intranet Lotería Nacional",
                        Text = Message,
                        Icon = "error"
                    });
            }
        }
        catch (Exception ex)
        {
            _isInvalid = true;
            Message = ex.Message;
            await loader.Close();
            StateHasChanged();
        }
    }
    public async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await TryLogin();
        }
    }
    
    private async Task EncontrarDireccionMaps(string latitud, string longitud)
    {
        string MyMapsApiKey = Configuration.GetValue<string>("KeyGoogleMaps");

        using (HttpClient cliente = new HttpClient())
        {
            string urlApi = string.Concat("https://maps.googleapis.com/maps/api/geocode/json?latlng=", latitud.Replace(',', '.'), ",", longitud.Replace(',', '.'), "&key=", MyMapsApiKey);

            var response = cliente.GetAsync(urlApi).Result;

            string json = await response.Content.ReadAsStringAsync();
            var data = (JObject)JsonConvert.DeserializeObject(json);
            direccion = data.SelectToken("results").ToList().FirstOrDefault().SelectToken("formatted_address").ToString();
        }
    }
}



