:root {
    --ph-red: #EA0029;
    --ph-blue: #000B8C;
    --ph-blue-dark: #00075E;
    --ph-cian: #1FD6FF;
    --ph-green: #78BE20;
    --ph-green-dark: #43B02A;
    --ph-yellow: #FFD100;
    --ph-orange: #FF8F1C;
    --ph-violet: #C6007E;
    --ph-white: #FFFFFF;
    --ph-grey: #53565A;
    --ph-black: #000000;
    --ph-skyblue: #00aae4;
}
